/* button style */
.btn {
	user-select: none;
	-moz-user-select: none;
	background: #ef476f none repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 0;
	line-height: 1.4;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn::before {
	content: "";
	position: absolute;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	width: 200%;
	height: 200%;
	top: 110%;
	left: 50%;
	background: #ef476f;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: -1;
}
.btn:hover {
	color: #fff;
}
.btn-two {
	background: #ef476f none repeat scroll 0 0;
}
.btn-two::before {
	background: #1d3a72;
}
.btn:hover:before {
	top: -40%;
}
@keyframes float-bob3 {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }

    100% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}
@keyframes snowRot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animName {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}
.feature-card {
    position: relative; 
}

.feature-card::before {
    content: ""; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../assets/shape.png');
    width: 500px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1; 
	margin: auto;
}


.service-card3 .service-card-icon img {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 8px 9px;
    height: 95px;
    width: 95px;
}

.service-card3 .service-card-icon:after {
    content: '';
    position: absolute;
    border: 1px dashed #ef476f;
    inset: -12px;
    border-radius: 50%;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.service-card3:after {
    content: '';
    position: absolute;
    background: #ef476f;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    -webkit-clip-path: circle(103% at 50% -165px);
    clip-path: circle(103% at 50% -165px);
    opacity: 0.1;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.service-card3:hover:after {
    background: black;
}

.service-card3:hover .service-card-icon {
    background: black;
}

.service-card3:hover .service-card-icon img {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.service-card3:hover .service-card-icon:after {
    border-color: black;
}


@media (max-width: 767px) {
    .service-card3:after {
        -webkit-clip-path:circle(100% at 50% -265px);
        clip-path: circle(100% at 50% -265px)
    }
}

@media (max-width: 575px) {
    .service-card3:after {
        -webkit-clip-path:circle(100% at 50% -206px);
        clip-path: circle(100% at 50% -206px)
    }
}

@media (max-width: 375px) {
    .service-card3:after {
        -webkit-clip-path:circle(84% at 50% -122px);
        clip-path: circle(84% at 50% -122px)
    }
}

@media only screen and (max-width:768px) {
	.feature-card::before {
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}
}